[Unit]
Description=Docker volume plugin for ReGrid
PartOf=regrid-volume.service

[Socket]
ListenStream=/run/docker/plugins/regrid-volume.sock

[Install]
WantedBy=sockets.target
